#container {
    display: flex;
    flex-direction: row;
}

#draggable-container {
    max-height: 400px;
}

#calendar {
    flex-grow: 1;
}

#external-events {
    border: solid 1px black;
    background-color: lightgray;
    border-radius: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;

}
.fc-event {
    cursor: move;
    display: flex;
    border: solid 1px black;
    color: white;
    background-color:  #4d94ff;
    margin-bottom: 5px;
    border-radius: 5px;
}

img {
    height: 20px;
    width: 20px;
}
